@charset "utf-8";

.inner{
  width: 1100px;
}

header{
  background: #fff;
  padding: 15px 0;
}

.header-logo{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-left a{
  color: #777;
}

.header-right a{
  color: #ffffff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding:12px 14px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.header-right a:hover{
  color: #333;
}

section{
  padding-top: 50px;
}

.work{
  background: #e3f2fd;
  display: flex;
}

.workpc{
  width: 40%;
  text-align: center;
}

.workpc img{
  width: 250px;
}

.works{
  display: flex;
  margin: 0 auto;
}

.workword{
  width: 60%;
  text-align: center;
}

.workword h1{
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.workword p{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.key{
  text-align: center;
}

.keyvisual{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-size: cover;
  padding: 400px 0;
}

.key h1{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  padding-bottom: 30px;
}

.key h2{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.skillword h1{
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.imgs{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.imgs img{
  width: 300px;
  height: 300px;
  margin-right: 100px;
  margin-bottom: 100px;
  opacity: 0.7;
}

.imgs img:hover{
  opacity: 1.0;
}

.imgs img:nth-child(3),.imgs img:nth-child(6){
  margin-right: 0;
}

.imgs img:nth-child(n+4){
  margin-bottom: 0;
}

.plan{
  background: #d0dfea;
  margin-top: 70px;
}

.plan h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  letter-spacing: 10px;
}

.cell-table{
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}

tr{
  background: #f9f9f9;
}

thead th{
  background: #6ba7eb;
}

th,td{
  font-size: 16px;
  line-height: 26px;
  padding: 10px 0;
  border-left: 2px solid #fff;
  text-align: center;
}

tr:nth-child(2n){
  background: #e0efff;
}

th:first-child,td:first-child{
  border-left: none;
}

.table-area{
  padding-bottom: 50px;
}

.sns{
  background: #e3f2fd;
}

.snses{
  padding: 200px 0;
  overflow: hidden;
  text-align: center;
}

.snses a{
  display: inline-block;
  padding: 25px 0;
  font-size: 40px;
  color: #8c8c8c;
  width: 185px;
  text-decoration: none;
  transition: 0.5s;
}

.snses a:hover{
  background: #fff;
}

footer{
  background: #cfd8dc;
}

.foot{
  margin: 0 auto;
}

.foot h1{
  padding: 20px 0 25px 0;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}
