@charset "utf-8";

.inner{
  width: 1100px;
  margin: 0 auto;
}

header{
  background: #fff;
  padding: 15px 0;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header-logo{
  display: flex;
  justify-content: space-between;
}

.header-left a{
  color: #777;
}

.header-right a{
  color: #ffffff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding:12px 14px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.header-right a:hover{
  color: #333;
}

.humberger{
  position: relative;
  height: 46px;
  width: 46px;
  display: none;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 4px;
}

.humberger div{
  position: absolute;
  left: 7px;
  height: 2px;
  width: 28px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}

.humberger div:nth-of-type(1) {
  bottom: 30px;
}

.humberger div:nth-of-type(2) {
  bottom: 20px;
}

.humberger div:nth-of-type(3) {
  bottom: 10px;
}

section{
  padding-top: 50px;
}

.work{
  background: #e3f2fd;
  display: flex;
}

.workpc{
  width: 40%;
  text-align: center;
}

.workpc img{
  width: 250px;
}

.works{
  display: flex;
}

.workword{
  width: 60%;
  text-align: center;
}

.workword h3{
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.workword p{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.key{
  text-align: center;
}

.keyvisual{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-size: cover;
  padding: 400px 0;
}

.key h1{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
}

.key h2{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.skills{
  padding-bottom: 70px;
}

.skillword h4{
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.imgs ul{
  display: flex;
  flex-wrap: wrap;
}

img{
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: 0.7s;
}

img:hover{
  opacity: 1;
}

li{
  margin-bottom: 100px;
  margin-right: 100px;
}

ul li:nth-child(3n){
  margin-right: 0;
}

ul li:nth-last-child(-n+3){
  margin-bottom: 0;
}

.plan{
  background: #d0dfea;
  padding-bottom: 50px;
}

.plan h5{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  letter-spacing: 10px;
}

.cell-table{
  border-collapse: collapse;
  table-layout: fixed;
}

tr{
  background: #f9f9f9;
}

thead th{
  background: #6ba7eb;
}

th,td{
  font-size: 16px;
  line-height: 26px;
  padding: 10px 0;
  border-left: 2px solid #fff;
  text-align: center;
}

tr:nth-child(2n){
  background: #e0efff;
}

th:first-child,td:first-child{
  border-left: none;
}

.sns{
  background: #e3f2fd;
}

.snses{
  padding: 200px 0;
  overflow: hidden;
  text-align: center;
}

.snses a{
  display: inline-block;
  padding: 25px 0;
  font-size: 40px;
  color: #8c8c8c;
  width: 185px;
  text-decoration: none;
  transition: 0.5s;
}

.snses a:hover{
  background: #fff;
}

footer{
  background: #cfd8dc;
}

.foot p{
  padding: 20px 0 25px 0;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}

@media screen and (max-width:767px){
  .humberger{
    display: inline-block;
  }
  .header-right a{
    display: none;
  }
  .workpc{
    width: 100%;
  }
  .works{
    display: block;
    width: 100%;
    text-align: center;
  }
  .workword{
    width:100%;
  }
  .key{
    text-align: center;
  }
  .keyvisual{
    padding: 200px 0;
  }
  .key h1{
    font-size: 40px;
  }
  .key h2{
    font-size: 30px;
  }
  .imgs ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  img{
    vertical-align: top;
  }
  li{
    margin: 0;
  }
  ul li:nth-child(3n){
    margin-bottom: 80px;
  }
  ul li:last-child{
    margin-bottom: 0;
  }
  thead th{
    font-size: 14px;
    line-height: 22px;
  }
  td{
      font-size: 12px;
    }
    .snses{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 50px 15px;
    }
    .snses a{
      padding: 50px 0;
    }
  }

    @media screen and (max-width: 1199px) {
      .workpc{
        width: 100%;
      }
      .works{
        display: block;
        width: 100%;
        text-align: center;
      }
      .workword{
        width:100%;
      }
      .keyvisual{
        padding: 250px 0;
      }
      .imgs ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
      img{
        vertical-align: top;
      }
      li{
        margin: 0;
      }
      ul li:nth-child(3n){
        margin-bottom: 80px;
      }
        ul li:last-child{
          margin-bottom: 0;
      }
    }